{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <canvas id="visperiodo"></canvas>
    </div>
    <div class="col-6">
        <canvas id="visqtdalunos"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script>
    $(document).ready(() => {

        function visPeriodo() {
            $.get({
                url: "{% url 'visperiodo' %}",
                data: {
                    ano: localStorage.getItem('anoConfig'),
                },
                success: (response) => {
                    gerarGrafico(response, 'pie', '', 'visperiodo');

                },
                fail: (response) => { },
            });
        }

        function visQtdAlunos() {
            $.get({
                url: "{% url 'visqtdalunos' %}",
                data: {
                    ano: localStorage.getItem('anoConfig'),
                },
                success: (response) => {
                  
                    gerarGrafico(response, 'line', 'Alunos Cursando', 'visqtdalunos');

                },
                fail: (response) => { },
            });
        }

        // Retorna gráfico conforme configuração
        function gerarGrafico(response, tipo, titulo, identificador) {
            const ctx = document.getElementById(identificador);     
            new Chart(ctx, {
                type: tipo,
                data: {
                    labels: Object.keys(response),
                    datasets: [{
                        label: titulo,
                        data: Object.values(response),
                        borderWidth: 1
                    }]
                },
                options: {

                }
            });

        }

        visPeriodo();
        visQtdAlunos();

    });
</script>

{% endblock content %}