{% extends 'base.html' %} {% block content %}
<div class="row">
  <div id="mensagens" class="col-12"></div>
</div>
<div class="row">
  <div class="col-12">
    <h1 class="text-center">Registro de Matrículas</h1>
  </div>
</div>

<div id="classe" class="row mt-2 bg-body-secondary rounded-3">  
 
  <div class="col-sm-2 p-3">
    <select
      type="text"
      id="classes"
      placeholder="Classes"
      class="form-control formulario"
      aria-describedby="basic-addon1"
    />
  
    </select>
  </div>

  <div class="col-sm-2 p-3">
    <button type="button" id="alfabetica" class="btn btn-outline-dark btn-lg"> 
                           <i class="bi bi-sort-alpha-down"></i>
                        </button>
  </div>

</div>


<div class="row mt-3">
  <div class="col-12">
    <table
      id="tabela"
      class="table table-hover table-responsive table-bordered table-success"
    >
      <thead>
        <th>Nº</th>
        <th>Nome</th>
        <th>Situação</th>
        <th class='text-center'>Transferir</th>
        <th class='text-center'>Remanejar </th>
        <th class='text-center'>Excluir</th>
      
      </thead>
      <tbody id="corpoTabela">
        <!-- Tabela dinâmica aparece aqui -->
      </tbody>
    </table>
  </div>
</div>



<!-- Modal Transferencia-->
<div
  class="modal fade"
  id="transferirModal"
  tabindex="-1"
  aria-labelledby="transferirModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transferirModalLabel">
          Vai transferir o aluno? Então nos informe a data!
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
       
        <div id="dadosMatricula" class="row">
          <!-- Dados do Registro Aqui -->
        </div>
      </div>
      <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button
                        id="simTransferir"
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                    >
                        Transferir
                    </button>
                    </div>
    </div>
  </div>
</div>
<!-- Fim Modal Atualizar Registro-->


<!-- Modal Remanejar-->
<div
  class="modal fade"
  id="remanejarModal"
  tabindex="-1"
  aria-labelledby="remanejarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remanejarModalLabel">
          Vai remanejar o aluno? Então nos informe a classe e data!
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
     
        <div id="dadosRemanejamento" class="row">
          <!-- Dados do Registro Aqui -->
         
        </div>

        <div class="row">
           <div class="col">
          <select id="classesRemanejamento" class="form-control formulario">

          </select>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button
                        id="simRemanejar"
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                    >
                        Remanejar
                    </button>
                    </div>
    </div>
  </div>
</div>
<!-- Fim Modal Remanejar Matricula-->

<script type="text/javascript">

$(document).ready(() => {
    function carregarClasses(ano) {
        $.get({
            url: "{% url 'carregarclasses' %}",
            data: {
                ano: ano
            },
            success: (response) =>{
                $("#classes").html(response);
                $("#classesRemanejamento").html(response);
            },
            fail: () =>{

            }
        })
    }
    
    function excluirMatricula(matricula) {
      $.get({
        url: "{% url 'excluirmatricula' %}",
        data: {
          matricula: matricula
        },
        success: (response) => {
        $("#mensagens").html(response);
                 setTimeout(function () {
                 $("#mensagem").css("display", "none");
                }, 3000);
            carregarMatriculas($("#classes").val());

        },
        fail: (response) => {

        }
      })
    }
    function carregarMatriculas(classe) {
        $.get({
            url: "{% url 'carregarmatriculas' %}",
            data: {
                classe: classe
            },
            success: (response) => {
                $("#corpoTabela").html(response);
                $(".transferir").off('click');
                $(".transferir").click(function (){
                  matricula = $(this).val();
              
                  buscarMatricula(matricula);                               
               });
                $(".remanejar").off('click');
                $(".remanejar").click(function (){
                  matricula = $(this).val();
              
                  buscarMatricula(matricula);                               
               });

                  $(".excluir").off('click');
                $(".excluir").click(function (){
                  matricula = $(this).val();
              
                  excluirMatricula(matricula);                               
               });

            },
            fail: (response) => {
               
            }
        })
    }

    function ordemAlfabetica(classe) {
         $.get({
            url: "{% url 'ordemalfabetica' %}",
            data: {
                classe: classe
            },
            success: (response) => {

                $("#corpoTabela").html(response);
                  $(".transferir").off('click');
                
                $(".transferir").click(function (){
                  matricula = $(this).val();
              
                  buscarMatricula(matricula);                               
               });
                $(".remanejar").off('click');
                $(".remanejar").click(function (){
                  matricula = $(this).val();
              
                  buscarMatricula(matricula);                               
               });

                $(".excluir").off('click');
                $(".excluir").click(function (){
                  matricula = $(this).val();
              
                  excluirMatricula(matricula);                               
               });
            },
            fail: () => {

            }
        })
    }

    function sendTransferir() {
        $.get({
            url: "{% url 'transferir' %}",
            data: {
                matricula: matricula,
                data_movimentacao: $("#dataMovimentacao").val()
            },
            success: (response) => {
                     $("#mensagens").html(response);
                 setTimeout(function () {
                 $("#mensagem").css("display", "none");
                }, 3000);
                carregarMatriculas($("#classes").val());
            },
            fail: (response) => {}
        })
    }

    function sendRemanejar() {
        $.get({
            url: "{% url 'remanejar' %}",
            data: {
                matricula: matricula,
                data_movimentacao: $("#dataMovimentacao").val(),
                classe_remanejamento: $("#classesRemanejamento").val()
            },
            success: (response) => {
                     $("#mensagens").html(response);
                 setTimeout(function () {
                 $("#mensagem").css("display", "none");
                }, 3000);
                carregarMatriculas($("#classes").val());
            },
            fail: (response) => {}
        })
    }
     // buscar matricula
    function buscarMatricula(matricula){

        $.get({
            url: "{% url 'buscarmatricula' %}",
            data: {
                matricula: matricula
            },
            success: (response) => {
                $("#simTransferir").off("click");
                $("#simDeletar").off("click");
                $("#simRemanejar").off("click");
               
                
                $("#dadosMatricula").html(response);
                $("#dadosRemanejamento").html(response);
                $("#simTransferir").click( function (){
                  $("#dadosRemanejamento").empty();
                    sendTransferir();
                  });
                $("#simRemanejar").click( function (){
                   $("#dadosMatricula").empty();
                    sendRemanejar();
                  });
                 
            },
            fail: (response) => {},
        });
    }

    carregarClasses($("#ano").html());
     
    $("#salvarConfig").click(() => 
    {

            carregarClasses($("#ano").html());


    });
    $("#classes").change(() => {
     
        carregarMatriculas($("#classes").val());
    
    });

    $("#alfabetica").click(() => {
        ordemAlfabetica($("#classes").val());
    });
});


</script>


{% endblock content %}
